In [7]:
tenInteger=[i for i in range(11)]
print(tenInteger)
for i in tenInteger:
    if i%2==0:
        print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0
2
4
6
8
10

In [6]:
3+6j

(3+6j)

In [12]:
L1=[["stock A","stock B","stock C"],"stock A","stock B","stock C"]#use square brackets (lists)
print("{}".format(L1[0:2]))
L1[0][2]

[['stock A', 'stock B', 'stock C'], 'stock A']

'stock C'

In [13]:
x=7
id(x)

4311225888

In [15]:
M=('Market',3.0,[10,20,30])#M=('Market',) don't forget the comma
type(M)#tuple can not be advised

tuple

In [16]:
d1={'stock A':30, 'stock B': 40}
d1['stock A']

30

In [18]:
Winners={'a','b'}#orWinners=set(['a','b'])
Winners#no orders

{'a', 'b'}

In [22]:
set('ok')

{'k', 'o'}

In [24]:
{'ok'}#watch the difference between this and above function

{'ok'}